[neopixel mains]
pin: P1.24
#   The pin connected to the neopixel. This parameter must be provided.

chain_count: 31
#  The number of Neopixel chips that are "daisy chained" to the 
#  provided pin. The default is 1 (which indicates only a single
#  Neopixel is connected to the pin).

color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.

initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.


#####################################################################
# Colors
#####################################################################

[gcode_macro red]
gcode:
    SET_LED LED=mains RED=1.0 GREEN=0.0 BLUE=0.0 TRANSMIT=1
	

[gcode_macro green]
gcode:
    SET_LED LED=mains RED=0.0 GREEN=1.0 BLUE=0.0 TRANSMIT=1
   

[gcode_macro blue]
gcode:
    SET_LED LED=mains RED=0.0 GREEN=.75 BLUE=1.0 TRANSMIT=1
 	

[gcode_macro white]
gcode:
    SET_LED LED=mains RED=0.80 GREEN=0.80 BLUE=0.80 TRANSMIT=1
    

[gcode_macro yellow]
gcode:
    SET_LED LED=mains RED=1.0 GREEN=1.0 BLUE=0 TRANSMIT=1
    

[gcode_macro LIGHTS_ON]
gcode: 
  white


[gcode_macro LIGHTS_OFF]
gcode:
    SET_LED LED=mains RED=0.0 GREEN=0.0 BLUE=0.0 TRANSMIT=1                   



#####################################################################
# Effects
#####################################################################

[led_effect warmup]
leds:
    neopixel:mains
layers:
    breathing      3  0     difference (1.0, 0.0, 0.0)
autostart:                             true
frame_rate:                            24


#####################################################################
# Effects
#####################################################################

[gcode_macro warmup]
gcode:
    SET_LED_EFFECT EFFECT=warmup

[gcode_macro stop_light_effects]
gcode:
  STOP_LED_EFFECTS
